house.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="house" type="houseType"/>
  <xs:complexType name="houseType">
    <xs:sequence>
      <xs:element type="xs:string" name="color"/>
      <xs:element type="xs:string" name="livingroom"/>
      <xs:element type="xs:string" name="bedrooms"/>
      <xs:element type="xs:string" name="bathrooms"/>
      <xs:element type="xs:string" name="garage"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
